<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Login"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Login_Main" />
        <activity
            android:name=".Usuario"
            android:label="Usuario" />
        <activity
            android:name=".Administrador"
            android:label="Administrator" />
        <activity
            android:name=".OlvidoPassword"
            android:label="Olvide Contraseña" />
        <activity
            android:name=".Registro"
            android:label="Registrar" />
        <activity
            android:name=".OkLogueado"
            android:label="Schedule">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>